<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alice.time.dao.TimeDao">
	<resultMap type="Time" id="timeMap">
		<id column="TIME_ID" property="timeId" javaType="java.lang.String" />
		<result column="TIME_NAME" property="timeName" javaType="java.lang.String" />
		<result column="TIME_EXPIRE_DATE" property="timeExpireDate" javaType="java.lang.String" />
		<result column="TIME_SLOGAN" property="timeSlogan" javaType="java.lang.String" />
		<result column="TIME_TYPE" property="timeType" javaType="java.lang.String" />
		<result column="TIME_STATUS" property="timeStatus" javaType="java.lang.String" />
		<result column="CYCLE_DATE" property="cycleDate" javaType="java.lang.String" />
		<result column="CYCLE_TYPE" property="cycleType" javaType="java.lang.String" />
		<!-- 额外信息 -->
		<result column="TIME_MODE" property="timeMode" javaType="java.lang.String" />
		<result column="REMAIN_COUNT_DOWN_TIME" property="remainCountDownTime" javaType="java.lang.String" />
		<result column="TOTAL_COUNT_DOWN_TIME" property="totalCountDownTime" javaType="java.lang.String" />
	</resultMap>
	
	<select id="queryMostImportantTime" resultMap="timeMap">
		SELECT
			p.TIME_ID,
			p.TIME_NAME,
			p.TIME_EXPIRE_DATE,
			p.TIME_SLOGAN,
			p.TIME_TYPE,
			p.TIME_STATUS,
			p.CYCLE_DATE,
			p.CYCLE_TYPE,
			p.TIME_MODE,
			(
				UNIX_TIMESTAMP(p.TIME_EXPIRE_DATE) - UNIX_TIMESTAMP(SYSDATE())
			) * 1000 REMAIN_COUNT_DOWN_TIME,
			(
				UNIX_TIMESTAMP(p.TIME_EXPIRE_DATE) - UNIX_TIMESTAMP(p.UPDATE_DATE)
			) * 1000 TOTAL_COUNT_DOWN_TIME
		FROM
			(
				(
					SELECT
						t.TARGET_ID TIME_ID,
						t.TARGET_NAME TIME_NAME,
						t.TARGET_EXPIRE_DATE TIME_EXPIRE_DATE,
						t.TARGET_SLOGAN TIME_SLOGAN,
						'100' TIME_MODE,
						t.CREATE_DATE,
						t.UPDATE_DATE,
						t.TARGET_TYPE TIME_TYPE,
						t.TARGET_STATUS TIME_STATUS,
						t.CYCLE_DATE,
						t.CYCLE_TYPE
					FROM
						TIME_TARGET t
					WHERE
						t.VALID = '0'
					AND t.TARGET_STATUS = '10'
					AND t.USER_ID = #{userId,jdbcType=INTEGER}
					ORDER BY
						t.TARGET_EXPIRE_DATE
					LIMIT #{pageNum,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
				)
				UNION
					(
						SELECT
							d.HOLIDAY_ID TIME_ID,
							d.HOLIDAY_NAME TIME_NAME,
							d.HOLIDAY_EXPIRE_DATE TIME_EXPIRE_DATE,
							d.HOLIDAY_SLOGAN TIME_SLOGAN,
							'200' TIME_MODE,
							d.CREATE_DATE,
							d.UPDATE_DATE,
							d.HOLIDAY_TYPE TIME_TYPE,
							d.HOLIDAY_STATUS TIME_STATUS,
							d.CYCLE_DATE,
							d.CYCLE_TYPE
						FROM
							TIME_HOLIDAY d
						WHERE
							d.VALID = '0'
						AND d.HOLIDAY_STATUS = '10'
						AND d.USER_ID = #{userId,jdbcType=INTEGER}
						ORDER BY
							d.HOLIDAY_EXPIRE_DATE
						LIMIT #{pageNum,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
					)
			) p
		ORDER BY
			p.TIME_EXPIRE_DATE
		LIMIT #{pageNum,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
	</select>
	
	<select id="queryPagingTime" resultMap="timeMap">
		SELECT
			p.TIME_ID,
			p.TIME_NAME,
			p.TIME_EXPIRE_DATE,
			p.TIME_SLOGAN,
			p.TIME_TYPE,
			p.TIME_STATUS,
			p.CYCLE_DATE,
			p.CYCLE_TYPE,
			p.TIME_MODE,
			(
				UNIX_TIMESTAMP(p.TIME_EXPIRE_DATE) - UNIX_TIMESTAMP(SYSDATE())
			) * 1000 REMAIN_COUNT_DOWN_TIME,
			(
				UNIX_TIMESTAMP(p.TIME_EXPIRE_DATE) - UNIX_TIMESTAMP(p.UPDATE_DATE)
			) * 1000 TOTAL_COUNT_DOWN_TIME
		FROM
			(
				(
					SELECT
						t.TARGET_ID TIME_ID,
						t.TARGET_NAME TIME_NAME,
						t.TARGET_EXPIRE_DATE TIME_EXPIRE_DATE,
						t.TARGET_SLOGAN TIME_SLOGAN,
						'100' TIME_MODE,
						t.CREATE_DATE,
						t.UPDATE_DATE,
						t.TARGET_TYPE TIME_TYPE,
						t.TARGET_STATUS TIME_STATUS,
						t.CYCLE_DATE,
						t.CYCLE_TYPE
					FROM
						TIME_TARGET t
					WHERE
						t.VALID = '0'
					AND t.TARGET_STATUS = '10'
					AND t.USER_ID = #{userId,jdbcType=INTEGER}
					ORDER BY
						t.TARGET_EXPIRE_DATE
					LIMIT #{pageNum,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
				)
				UNION
					(
						SELECT
							d.HOLIDAY_ID TIME_ID,
							d.HOLIDAY_NAME TIME_NAME,
							d.HOLIDAY_EXPIRE_DATE TIME_EXPIRE_DATE,
							d.HOLIDAY_SLOGAN TIME_SLOGAN,
							'200' TIME_MODE,
							d.CREATE_DATE,
							d.UPDATE_DATE,
							d.HOLIDAY_TYPE TIME_TYPE,
							d.HOLIDAY_STATUS TIME_STATUS,
							d.CYCLE_DATE,
							d.CYCLE_TYPE
						FROM
							TIME_HOLIDAY d
						WHERE
							d.VALID = '0'
						AND d.HOLIDAY_STATUS = '10'
						AND d.USER_ID = #{userId,jdbcType=INTEGER}
						ORDER BY
							d.HOLIDAY_EXPIRE_DATE
						LIMIT #{pageNum,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
					)
			) p
		ORDER BY
			p.TIME_EXPIRE_DATE
		LIMIT #{pageNum,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
	</select>
	
	<select id="countTime" resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM
			(
				(
					SELECT
						t.TARGET_ID TIME_ID,
						t.TARGET_NAME TIME_NAME,
						t.TARGET_EXPIRE_DATE TIME_EXPIRE_DATE,
						t.TARGET_SLOGAN TIME_SLOGAN,
						'100' TIME_MODE,
						t.CREATE_DATE,
						t.UPDATE_DATE,
						t.TARGET_TYPE TIME_TYPE,
						t.TARGET_STATUS TIME_STATUS,
						t.CYCLE_DATE,
						t.CYCLE_TYPE
					FROM
						TIME_TARGET t
					WHERE
						t.VALID = '0'
					AND t.TARGET_STATUS = '10'
					AND t.USER_ID = #{userId,jdbcType=INTEGER}
				)
				UNION
					(
						SELECT
							d.HOLIDAY_ID TIME_ID,
							d.HOLIDAY_NAME TIME_NAME,
							d.HOLIDAY_EXPIRE_DATE TIME_EXPIRE_DATE,
							d.HOLIDAY_SLOGAN TIME_SLOGAN,
							'200' TIME_MODE,
							d.CREATE_DATE,
							d.UPDATE_DATE,
							d.HOLIDAY_TYPE TIME_TYPE,
							d.HOLIDAY_STATUS TIME_STATUS,
							d.CYCLE_DATE,
							d.CYCLE_TYPE
						FROM
							TIME_HOLIDAY d
						WHERE
							d.VALID = '0'
						AND d.HOLIDAY_STATUS = '10'
						AND d.USER_ID = #{userId,jdbcType=INTEGER}
					)
			) p
	</select>
</mapper>